/* Error: Undefined variable.
 *    ,
 * 25 |         border-color: $color-principal;
 *    |                       ^^^^^^^^^^^^^^^^
 *    '
 *   _contacto.scss 25:23  @import
 *   styles.scss 1:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 25 \2502          border-color: $color-principal;\d\a    \2502                        ^^^^^^^^^^^^^^^^\a    \2575 \a   _contacto.scss 25:23  @import\a   styles.scss 1:9       root stylesheet";
}
